<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="exercise">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Exercise</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nutrition">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Nutrition</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
